.full-width {
  max-width: 100% !important;
}
.row p {
  color: white;
  font-size: 25px;
}


/*
  ============================================
  Top
  ============================================
*/

.title {
  background: #2e3038;
  height: 100px;
}
.title h1 {
  color: #ffa600;
  text-align: center;
  padding: 20px 0;
}

/*
  ============================================
  Middle
  ============================================
*/

#main {
  margin: 0 auto;
  padding-left: 80px;
}
.middle {
  padding-top: 50px;
  vertical-align: middle;
}
.middle-title {
  margin: 30px auto;
  text-align: center;
}
.middle-title p {
  font-size: 40px;
  font-weight: 600;
}
.buttons {
  text-align: center;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
#link {
  background: black;
  border-radius: 50%;
}

/*
  ============================================
  Bottom
  ============================================
*/

.bottom {
  background: #676c7e;
  height: 100px;
  margin-top: 310px;
  text-align: center;
  vertical-align: bottom;
}
.bottom-middle {
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.bottom span {
  color: white;
  padding-top: 30px;
  font-size: 30px;
}
